*, ::before, ::after {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0 auto;
  max-width: 1600px;
  padding: 55px 123px;
  font-family: "Poppins", sans-serif;
  .header_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    .header-button {
      border: 2px solid #263238;
      border-radius: 5px;
      padding: 17px 57px;
      cursor: pointer;
      background-color: inherit;
      font-size: 20px;
      color: black;
      font-weight: 500;
    }
  }

  .main-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin: 51px 0 103px;
    &-title {
      font-size: 64px;
      font-weight: 600;
      line-height: 80px;
      max-width: 386px;
    }
    &-subtitle {
      font-size: 24px;
      font-weight: 400;
      color: #8f95a5;
      max-width: 632px;
      margin: 40px 0 61px;
    }
    &-button {
      color: #fff;
      font-size: 36px;
      background: #263238;
      border-radius: 15px;
      padding: 32px 117px;
      font-weight: 400;
      border: none;
      cursor: pointer;
    }
  }

  .icon-absolute {
    position: absolute;
    top: 15%;
    left: 32%;
  }
}

.skills-section-title {
  font-size: 40px;
  text-align: center;
  line-height: 80px;
  font-weight: 600;
  margin-bottom: 92px;
}
.skills-section-wrapper-left {
  border-radius: 10px;
  padding: 35px 22px 92px;
  background: #f5f5f5;
  max-width: 435px;
  .item-image {
    margin-bottom: 5px;
    width: 390px;
  }
  .item-title {
    max-width: 144px;
    line-height: 80px;
    font-weight: 600;
    font-size: 30px;
    color: #263238;
    padding-left: 25px;
  }
  .item-description {
    padding-left: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #8f95a5;
    max-width: 347px;
  }
  .item-button {
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    background: #263238;
    padding: 17px 64px;
    margin: 53px 0 0 25px;
    font-family: 'Poppins', sans-serif;
  }
}