.moviesWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    margin-top: 40px;
}

.noFav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: darkslateblue;
    font-size: 32px;
    font-weight: 900;
}