.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.poster {
    width: 200px;
    height: 250px;
}

.title {
    width: 60%;
    height: 100px;
    color: darkslateblue;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.date p{
    background-color: darkslateblue;
    color: #dcd8d8;
    padding: 5px;
}

.rating {
    position: relative;
    top: -450px;
    left: 100px;
}

.rating p {
    font-weight: 500;
    font-size: 16px;
    color: darkslateblue;
    padding: 5px;
    border-radius: 50%;
}

.good p{
    background-color: #04c404;
}

.bad p{
    background-color: #ef4545;
}

.main button {
    border: none;
    background-color: blanchedalmond;
    color: darkslateblue;
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    position: relative;
    top: -270px;
    height: 40px;
}

.main button:hover {
    background-color: #e1c094;
}