@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

.results {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: darkslateblue;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.none {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: crimson;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    color: darkslateblue;
    font-family: Silkscreen, sans-serif;
    font-size: 24px;
}